{
  "globals": {
    "fetch": false
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    // "prettier",
    // "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [
        ".ts",
        ".tsx",
        ".js"
      ]
    }],
    "prettier/prettier": [
      "warn",
      {
        "tabWidth": 2,
        "singleQuote": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "endOfLine": "auto",
        "semi": true
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "off",
    "import/extensions": ["error", "never"],
    "react/prop-types": 0,
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import/no-unresolved": 0,
    "camelcase": "off",
    "react/style-prop-object": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/react-in-jsx-scope": "off",
    "react/button-has-type": "off",

    // Accessiblity temporary disable
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-underscore-dangle": "off"
  }
}