.container {
  min-height: 100vh;
  position: relative;
  .navbar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: fit-content;
    display: flex;
    z-index: 99;
    .main-navbar {
      display: flex;
      flex-direction: column;
      background-color: white;
      max-width: 50rem;
      &.collapsed {
        .logo,
        .main-link .text {
          max-width: 0;
          overflow: hidden;
          padding-right: 0;
        }
      }
      .logo {
        font-weight: 900;
        font-family: "Montserrat", "Segoe UI", sans-serif;
        font-size: 2rem;
        margin: 2rem 1.5rem;
        transition: 0.3s ease-out;
        color: #1078c8;
      }
      .main-link {
        padding: 1.4rem 0 1.4rem 1.2rem;
        font-size: larger;
        color: #b3bac5;
        display: flex;
        align-items: center;
        border-left: solid 0.4rem transparent;
        transition: 0.3s ease-out;
        white-space: nowrap;
        &:hover {
          background-color: #4197d13f;
          border-left-color: #1f445c3f;
        }
        &:nth-child(2) {
          border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
          padding-bottom: 1.2rem;
          margin-bottom: 0.5rem;
        }
        &.active {
          background-color: #4197d1;
          border-left-color: #2c6286;
          color: white;
          svg {
            margin: 0;
          }
        }
        svg {
          height: 1.8rem;
          width: auto;
          position: relative;
          margin-left: -0.3rem;
        }
        .text {
          margin-left: 1rem;
          padding-right: 3rem;
          transition: 0.3s ease-out;
        }
      }
    }
    .sub-navbar {
      display: flex;
      flex-direction: column;
      padding: 6rem 1.2rem 2rem;
      width: fit-content;
      background-color: #4197d1;
      align-items: flex-start;
      min-width: 12.5rem;
      position: relative;
      z-index: 99;
      .sub-link {
        margin: 0.5rem 0;
        padding: 0.4rem 1rem 0.4rem 0.7rem;
        border-radius: 0.3rem;
        transition: 0.3s ease-out;
        color: white;
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
        &.active {
          background-color: white;
          color: inherit;
        }
      }
    }
  }
  .right {
    padding-left: 20rem;
    background-color: #f4f5f7;
    min-height: 100vh;
    transition: 0.3s ease-out;
    padding-bottom: 2rem;
    // &.collapsed
    // {
    //     padding-left: 20rem;
    // }
  }

  .loading-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.4);
    .percent-wrapper {
      position: absolute;
      height: 0.8rem;
      width: 100%;
      left: 0;
      top: 0;
      background-color: #4197d1;
      transition: 0.3s ease-out;
      .percent {
        background-color: #d1b304;
        transition: 0.3s ease-out;
        border-radius: 2rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 100%;
      }
    }
    .loading-img {
      height: 16rem;
      width: auto;
    }
  }

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem 3rem;
    .bell-wrapper {
      margin-right: 2rem;
      position: relative;
      cursor: pointer;
      .bell-icon {
        height: 1.5rem;
      }
      .dot {
        background-color: red;
        position: absolute;
        right: -8%;
        top: -3%;
        padding: 0.3rem;
        border-radius: 50%;
        z-index: 3;
      }
    }
    .user-area {
      display: flex;
      .link-item {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        cursor: pointer;
        font-weight: bold;
        color: #595959;
        .icon {
          height: 1.5rem;
          width: auto;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}

.confirm-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.confirm-body {
  font-size: 1rem;
  margin: 1rem 0 3rem;
}

.toaster {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  height: fit-content;
  width: calc(100vw - 18rem);
  transition: 0.2s ease-out;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  transform: translateY(8rem);
  &.active {
    transform: translateY(0);
  }
  &.success {
    background-color: #48d38a;
  }
  &.error {
    background-color: rgb(220, 20, 20);
  }
  &.info {
    background-color: #2684ff;
  }
  .icon-wrapper {
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    .icon {
      height: 0.9rem;
      width: auto;
    }
  }
  .close-icon {
    position: absolute;
    top: 40%;
    right: 0.6rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease-out;
    padding: 0.2rem;

    .bar {
      background-color: white;
      height: 0.15rem;
      width: 1.2rem;
      transform: rotate(45deg);
      &:nth-child(2) {
        transform: rotate(-40deg) translate(0.1rem, -0.1rem);
      }
    }
  }
}

// .container.collapsed ~ .toaster {
//   width: calc(100vw - 17rem);
// }
